<!--<ng-stepper #cdkStepper [linear]="true">-->

  <!--<cdk-step [stepControl]="stepOne.stepOneForm" [optional]="false">-->
    <!--<ng-template cdkStepLabel>-->
      <!--<div class="step-bullet">1</div>-->
      <!--<div class="step-title">Personal Details <span class="required">*</span></div>-->
    <!--</ng-template>-->
    <!--<app-step-one #stepOne></app-step-one>-->
  <!--</cdk-step>-->

  <!--<cdk-step [stepControl]="stepTwo.stepTwoForm" [optional]="true">-->
    <!--<ng-template cdkStepLabel>-->
      <!--<div class="step-bullet">2</div>-->
      <!--<div class="step-title">Address</div>-->
    <!--</ng-template>-->
    <!--<app-step-two #stepTwo></app-step-two>-->
  <!--</cdk-step>-->

<!--</ng-stepper>-->
