<div class="bc">
  <div class="logo"><img src="../../../assets/img/logo.svg" alt=""></div>
  <button [routerLink]="'/login'" class="btn-white btn-white-enter btn-white-reg-position">Войти</button>
  <div class="main-wrap">
    <h1 class="text-center">найди подходящую<br>охрану или место работы</h1>
    <h2 class="text-center">Крупнейшая база частных охранников с лицензией на оружие.</h2>
    <button [routerLink]="'/registration'" class="btn-blue btn-blue-reg btn-blue-reg-position">Зарегистрироваться и разместить резюме</button>
  </div>
  <div class="overlay"></div>
  <router-outlet></router-outlet>
</div>
