<div>

  <div
    class="form-help-text"
    *ngIf="f['email'].invalid && f['email'].touched"
  >
    <span *ngIf="f['email'].errors?.['required']">Поле Email не должен быть пустым</span>
    <span *ngIf="f['email'].errors?.['email']">Введите корректный Email</span>
    <span *ngIf="f['email'].errors?.['forbiddenEmail']">Такой Email уже есть</span>
  </div>

  <div
    class="form-help-text"
    *ngIf="f['password'].invalid && f['password'].touched"
  >
    <span *ngIf="f['password'].errors?.['required']">Поле Пароль не должен быть пустым</span>
  </div>


   <div *ngIf="f['confirmPass'].invalid && f['confirmPass'].touched" class="form-help-text">
     <span *ngIf="f['confirmPass'].errors?.['required']">Поле Повторите пароль не должно быть пустым.</span>
     <span *ngIf="f['confirmPass'].errors?.['invalid']">Пароли не совпадают.</span>
   </div>



  <div class="auth-content-wrap">
    <a [routerLink]="'/'" class="modal-close"><img src="../../assets/img/close.svg"></a>
    <h3 class="text-center">Регистрация</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          [ngClass]="{'error': f['email'].invalid && f['email'].touched}"
          type="text"
          class="form-control"
          id="email"
          placeholder="Электронная почта"
          formControlName="email"
        >
      </div>
      <div class="form-group">
        <input
          [ngClass]="{'error': f['password'].invalid && f['password'].touched}"
          type="password"
          class="form-control"
          id="password"
          placeholder="Пароль"
          formControlName="password"
          [(ngModel)]="password"
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          placeholder="Введите пароль"
          formControlName="confirmPass"
        >
      </div>
      <div class="text-center text-size-small">Регистрируясь вы соглашаетесь с <a class="blue" href="#">условиями сервиса</a></div>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn-blue btn-form">Зарегистрироваться</button>
      </div>
      <div class="form-group reg-link">
        <a [routerLink]="'/login'">Войти</a>
      </div>
    </form>
  </div>
</div>
